.modalOrder{
  text-align: center;
  margin-top: 20vh;
  height: 70vh;
  width: 70vw;
  background-color: black;
  padding-top: 10%;
  opacity: 0.6;
}
.modalBack{
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
}

.detailsBackground {
  font-size: 1rem;
}

.prodDetails {
font-size: 1.8rem;
margin-top: 5%;
margin-bottom: 10%;
}


.fa-shopping-cart {
  font-size: 2.5rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 70%;
}

.cartCount{
  font-size: 1.3rem;
  position: absolute;
  color: black;
  bottom: 37%;
  left: 50%;
  display: inline
}

.head{
  background-color: rgb(31, 29, 29);
  width: 100%;
}



.wickedCart {
  font-size: 3rem;
}

.logo {
  width: 3rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}

.card-body {
  display: inline-block;
  position: absolute;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: transparent;
}

.card-body:hover {
  color: white;
}

.card-title {
  display: inline-block;
  color: inherit;
  font-family: Lobster, cursive;
}

.card-img-top {
  cursor: pointer;
}
.card-img-top:hover ~ .card-body {
  color: white;
}

#Cow-Milk {
  height: 14rem !important;
}

#Lioness-Milk {
  height: 14rem !important;
}

.listBackground {
  margin-left: 13%;
  margin-bottom: 10%;
}

.Cow-Milk-title {
 bottom: 40%;
  left: 25%;
}

.Goat-Milk-title {
 bottom: 25%;
  left: 30%;
}
.Camel-Milk-title {
 bottom: 40%;
  left: 25%;
}
.Lioness-Milk-title {
 bottom: 45%;
  left: 15%;
}
.Gorilla-Milk-title {
 bottom: 35%;
  left: 20%;
}
.Donkey-Milk-title {
 bottom: 35%;
  left: 20%;
}

.mobileCardTitle {
    display: none;
  }
.removeButton {
  font-size: 1.8rem;
  font-family: Lobster, cursive;
  cursor: pointer;
}
.cartProduct {
  margin-top: 2rem;
}
.backToCatalog{
  font-size: 2rem;
}
.countButton {
  font-size: 2rem;
}
#productCounter {
  font-size: 3rem;
}
#arrowHolder {
  top: 47%;
  right: 46%;
}
#goatCounter {
    top: 41%;
    right: 47%;
}
#lionCounter {
  top: 33%;
  right: 46%;
}
  @media only screen
and (min-device-width : 360px)
and (max-device-width : 640px)
and (orientation : portrait) {
  .mobileCardTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: Lobster, cursive;
  }
  .listBackground {
    margin-left: 20%;
  }
  .itemHolder {
    margin-bottom: 20%;
  }
  .detailsBackground {
  font-size: 1.8rem;
}
.head{
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 7rem;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
  font-size: 5rem;
}
.fa-shopping-cart {
  font-size: 4rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 0%;
  margin-left: 50%;
}
.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  #lionCounter {
  top: 41%;
  right: 47%;
}
  #goatCounter {
    top: 41%;
    right: 47%;
  }

  #arrowHolder {
    top: 42%;
    right: 48%;
  }
  .productName {
    font-size: 4rem;
  }

  .countButton {
  font-size: 4rem;
}
#productCounter {
  font-size: 5rem;
}

  .prodInfoImage {
    margin-bottom: 15rem;
  }

  .backToCatalog{
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .cartProductInfo {
    font-size: 2rem;
  }
  .prodDetails, .cartTotal, .btn, .removeButton {
    font-size: 3rem;
  }
  .cartTitle {
    font-size: 4rem;
  }

  .mobileCardTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: Lobster, cursive;
  }
  .listBackground {
    margin-left: 20%;
  }
  .itemHolder {
    margin-bottom: 20%;
  }
  .detailsBackground {
  font-size: 2rem;
}
.head{
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 7rem;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
  font-size: 5rem;
}
.fa-shopping-cart {
  font-size: 4rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 0%;
  margin-left: 50%;
}
.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}
.cartCount {
    font-size: 2.3rem;
    position: absolute;
    color: black;
    bottom: 37%;
    left: 50%;
    display: inline;
}
.claimerText{
  font-size: 8rem;
}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
   .cartProductInfo, .cartTotal, .btn, .removeButton {
    font-size: 2rem;
  }
  .cartTitle {
    font-size: 4rem;
  }
  .mobileCardTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: Lobster, cursive;
  }
  .listBackground {
    margin-left: 20%;
  }
  .itemHolder {
    margin-bottom: 20%;
  }
  .detailsBackground {
  font-size: 1.8rem;
}
.head{
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 7rem;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
  font-size: 5rem;
}
.fa-shopping-cart {
  font-size: 4rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 0%;
  margin-left: 50%;
}
.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)  {
   #arrowHolder {
    top: 34%;
    right: 37%;
  }
  .mobileCardTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: Lobster, cursive;
  }
  .listBackground {
    margin-left: 20%;
  }
  .itemHolder {
    margin-bottom: 20%;
  }
  .detailsBackground {
  font-size: 1.8rem;
}
.head{
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 7rem;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
  font-size: 5rem;
}
.fa-shopping-cart {
  font-size: 4rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 0%;
  margin-left: 50%;
}
.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}
}



@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : landscape)  {
  #arrowHolder {
    top: 38%;
    right: 46%;
  }
  .mobileCardTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: Lobster, cursive;
  }
  .listBackground {
    margin-left: 0%;
    position: relative;
    margin-left: 0%;
    margin-right: 0px;
  }
  .itemHolder {
    margin-bottom: 10%;
    margin-left: 10% !important;
    margin-right: 5% !important;
  }
  .head{
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 7rem;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
  font-size: 5rem;
}
.fa-shopping-cart {
  font-size: 4rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 0%;
  margin-left: 50%;
}
.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)  {
    .mobileCardTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: Lobster, cursive;
  }
  .listBackground {
    margin-left: 0%;
    position: relative;
    left: 0%;
    margin-right: 0%;
  }
  .itemHolder {
    margin-right: 3% !important;
     margin-left: 5% !important;
  }
  .detailsBackground {
  font-size: 1.8rem;
}
.head{
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 7rem;
}
.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
  font-size: 5rem;
}
.fa-shopping-cart {
  font-size: 4rem;
  color: white;
  position: relative;
  display: inline-block;
  left: 0%;
  margin-left: 50%;
}
.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}
}
