.page-header{
  color: blue;
  position: relative;
}

.fa-shopping-cart {
  font-size: 2.5rem;
  color: blue;
  position: relative;

}

.cartCount{
  font-size: 1rem;
  position: absolute;
  color: white;
  bottom: 57%;
  left: 10%;
}

.blankHead{
  height: .5rem;
}

body{
  background-color: rgba(240, 234, 228, 0.979);
}

.head{
  background-color: aliceblue;
}
