.page-header{
  color: white;
  position: relative;
  font-family: Lobster, cursive;
  display: inline-block;
  margin-left: 0%;
}

.fa-shopping-cart {
  font-size: 2.5rem;
  color: white;
  position: relative;
  display: inline;
  left: 75%;
}

.cartCount{
  font-size: 1.3rem;
  position: absolute;
  color: black;
  bottom: 37%;
  left: 50%;
  display: inline
}

.head{
  background-color: rgb(31, 29, 29);
}



.wickedCart {
  font-size: 3rem;
}

.logo {
  width: 3rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  margin-left: 5%;
  vertical-align: top;
}

.card-body {
  display: inline-block;
  position: absolute;
  text-align: center;
  background-color: transparent;
  bottom: 35%;
  left: 20%;
  cursor: pointer;
  color: transparent;
}

.card-body:hover {
  color: white;
}

.card-title {
  display: inline-block;
  color: inherit;
}

.card-img-top {
  cursor: pointer;
}
.card-img-top:hover ~ .card-body {
  color: white;
}
